body
{
    margin: 0;
    padding: 0;
    background: linear-gradient(70deg,#7fffff 0%,#ffffff 50%,#ff7fff 100%);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
}

img.logo
{
    position: fixed;
    top: 0px;
    left: 0px;
}