@font-face {
    font-family: "Font";
    src: url("https://a439-owo.github.io/fonts/SourceHanSans-Regular.ttf");
}

body
{
    background-image: url("https://hatsunemiku-tov.imwork.net/api/miku?redirect=1");
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    font-family: "Font", sans-serif;
}